<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lokal.notifications">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!-- Notification click receiver -->
        <receiver
            android:name=".NotificationClickReceiver"
            android:exported="false" />

        <!-- Local notification receiver -->
        <receiver
            android:name=".LocalNotificationReceiver"
            android:exported="false" />
    </application>

</manifest>
